.azul{
	background: #23acc8;
}

.verde-claro{
	background: #c9e265;
}

.rosa{
	background: #ffd6cd;
}

.verde-menta{
	background: #c1f7e1;
}

.margen{
	border: solid black;
}

.piel{
	background: #e19161;
}

.lima{
	background: #01ff01;
}