.azul{
	background: #23acc8;
}

.verde-claro{
	background: #c9e265;
}

.rosa{
	background: #ffd6cd;
}

.verde-menta{
	background: #c1f7e1;
}

.margen{
	border: solid black;
}

.piel{
	background: #e19161;
}

.lima{
	background: #01ff01;
}

.cielo{
	background: #A9C6E1;
}

.mostaza{
	background: #E89B45;
}

.amarillo-feo{
	background: #DAE34D;
}

.rojo{
	background: red;
}

.rosa{
	background: pink;
}

.gris{
	background: grey;
}