html{
    font-family: Arial, Helvetica, sans-serif;
}

.datos{
	text-align: right;
}

h1{
	text-align: center;
	color:#2596BE;
}

p{
	text-align: justify;
}

table{
	width: 100%
}

a{
	color: mediumpurple;
}